*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}

:root{
    --color1: aqua;
    --color2: pink;
    --color3: skyblue;
    --color4: purple;
    --color5: blue;
}

body{
    font-size: 10px;
    background-color: #ffffff;
}

section{
    width: 100%;
    height: auto;
}

.section{
    width: 130em;
    height: auto;
}

/************************************************
# CONFIGURACION RESPONSIVE     #
*************************************************/

@media only screen and (max-width:1440px) {}

@media only screen and (max-width:1366px) {}/*mio*/

@media only screen and (max-width:1024px) {}

@media only screen and (max-width:768px) {}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width:320px) {}

