/*__________MENU__________*/
.menu{
    width: 90em;
    margin: 0 auto;
}
header{
    width: auto;
    height: 5em;
    background: #ffffff;
    display: flex;
    
}

header img{
    height: 4em;
    float: left;
    padding: 0.3em;
    justify-content: center;

}

header ul{
    display: flex;
    list-style: none;
    z-index: 2;
    justify-content: flex-end;
   
}

header ul li a{
    font-weight: 400;
    display: block;
    padding: 2em 2em 2em 2em;
    color: #444444;
    text-decoration: none;
    background: #ffffff;
}

header ul li a:hover{
    color: #ffffff;
    background-color: #444444;
}

header ul ul{
    position: absolute;
    top: 6em;
    display: block;
    transform: translatex(60%);
    opacity: 0;
    transition: all .6s;
}

header ul li:hover ul{
    opacity: 1;
    transform: translateX(0%);   
}



/*__________BANNER__________*/

.nombre_lotus{
    position: absolute;
    width: auto;
    height: calc(100vh - 4em);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    
}

.Ban{
    
    background-image: url(../img/FOND_hd-min.png);
    width: 100%;
    height: calc(100vh - 5em);
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.info{
    width: 100%;
    color: #ffffff;
    text-align: center;
    
}

.info h1{
    font-size: 4em;
    padding: 0.5em;
}

.info p{
    font-size: 1.4em;
    padding: 0.8em;
    margin-bottom: 1em;
}

.info a{
    text-decoration: none;
    padding: 1em;
    color: #ffffff;
    border: 0.1em solid #ffffff;
    border-radius: 0.6em;
    transition: all 300ms;
}

.info a: hover{
    background-color: #ffffff;
    color: #2A2A2A;
}

/*_________________LEYENDA O FRASE_______________*/

.leyenda_1{
    background-color: aqua;
    width: 70em;
    margin: auto;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
}

.leyenda_1 img{
    width: 100%;
    margin: auto;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

/*__________________________________________*/


/*
.capa{
    width: 100%;
    height: 100%;
    position: relative;
    top; 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}


/*__________Descripción de Keiry__________*/


.Lotus{
    width: 100%;
    height: auto;
    margin-top: 3em;
    background-color: ;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img_yo{
    width: 50em;
    height: 50em;
    background-color: ;
    margin: 1em;
    background-image: url(../img/Foto_perfil_acuarelle_BN-min.png);
    justify-content: center;
    align-items: center;
    display: flex;
    background-size: 100% 100%;
}

.yo_texto{
    width: 30em;
    height: 20em;
    background-color: ;
    padding: 3em 3em 3em 3em;
    text-align: left;
    font-size: 1.5em;
    padding-top: 9em;
    margin: 1em;
    border-left: 0.1em solid #898989;
}

.yo_texto p{
    margin-top: 1em;
    
}

/*__________Mis habilidades o áreas__________*/

.habilities{
    width: 100em;
    height: 30em;
    margin: auto;
    background-color: #FFAEDE;
    
}


/*__________Visualización de los proyectos__________*/


.Poryectos_lotus{
    width: 100%;
    height: 60em;
    margin-top: 1em;
    background-image: url(../img/Fondo_proyectos-acuarelle-min.png);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Pr_1{
    width: 30em;
    height: 40em;
    background-color: #ffffff;
    margin: 3em;

}

.Pr_2{
    width: 30em;
    height: 40em;
    background-color: #ffffff;
    margin: 3em;
}

.Pr_3{
    width: 30em;
    height: 40em;
    background-color: #ffffff;
    margin: 3em;
}

/*__________________FOOTER_________________*/

footer{
    background-color: #373737 ;
    bottom: 0;
   
    width: 100%;
    height: 20em;
}




























